
        * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1{
    
    color: black;
    padding: 20px;
    text-align: center;
  font-size:40px;
}

.food-section {
    float: left;
    width: 33.33%;
    height: 200px;
    padding: 20px;
    border: 2px solid #000;
    background-color: #f2f2f2;
    position: relative;
    margin:0px;
}

.food-section h2 {
    font-size: 1.25em;
    position: absolute;
    top: 0;
    right: 0;
    background-color:yellow;
    color: black;
    margin: 0;
    padding: 20px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

.food-section p {
    font-size: 1em;
    margin-top: 50px;
}

@media (max-width: 991px) {
    .food-section {
        width: 47%;
      margin:10px;
    }

    .food-section:nth-child(3) {
       
        width: 100%;
    }
}

@media (max-width: 767px) {
    .food-section {
        width: 100%;
     
    }

    .food-section h2 {
        font-size: 1.25em;
    }
}
    